html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(120deg, #0f2027, #203a43);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.center h1 {
    font-size: 60px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: red;
    color: white;
    padding: 12px 30px;
    border-radius: 20px;
    text-decoration: none;
}

.detect {
    padding: 60px;
    text-align: center;
}

.preview {
    width: 300px;
    margin-top: 20px;
    border: 2px solid black;
}

.about {
    background: #f2f2f2;
    padding: 60px;
    text-align: center;
}
